<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="2.1.0" targetFramework="net40" />
  <package id="ProTeck.Config.Dto" version="1.0.0" targetFramework="net40" />
  <package id="ProTeck.Core" version="2.2.0" targetFramework="net40" />
  <package id="System.Net.Http" version="2.0.20710.0" targetFramework="net40" />
</packages>